{% extends "base.html" %}
{% load static %}
{% block content %}

<br>
<h2>The Best Jigsaw Puzzles Store</h2>
<p>With the largest selection of jigsaw puzzles, games, brainteasers, and accessories, you'll find the perfect puzzle or game for your family!</p>
<p>We have thousands of unique puzzles and other products in stock year-round, and there's always something new to find, no matter your interest or skill level from beginner to large piece count puzzles.</p> 
<p>When you buy puzzles from Magic Jigsaw Puzzles, you know that you're getting great products from your favorite brands.</p>
<br>
<h3>Best Deals 2023</h3>
<div class="card-group" >
  {% for item in object_list %}
  <!-- {{ item }} -->
  <div class="card border-success mb-3" style="background-color: mintcream;">
    <img src="{{ item.item_main_img.url }}" class="card-img-top" style="width: 25rem; height: 18rem;"> 
      <h5 class="card-title"><strong>{{ item.title }}</strong></h5>
      <br>
      <p class="card-text">{{ item.title }} - ${{ item.price }}</p>
          <br>
          <p><em><strong>${{ item.price }}</strong></em></p>
          <a href="{{ item.get_absolute_url }}" class="btn btn-primary btn-lg d-grid gap-2 d-md-flex justify-content-md-end">Shop Now</a>
          <p>{{item.get_img_file_name}}</p>
  </div>
</div>
{% endfor %}
{% endblock content %}