{% extends "base.html" %}
{% load static %}
{% block content %}
    <br>
    <br>
    <h2>Product</h2>
    <br>
    <br>
    <div class="card border-danger mb-3" style="max-width: 1300px; background-color: #e3f2fd;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ object.get_img_file_name }}" class="img-fluid rounded-start" alt="NYC Street">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>{{ object.title }}</strong></h5>
              <p class="card-text">
                <p>
                    <li>EASY TO MAKE: Designed with alphabets 'A', 'B' printed on the back for different regions making it easier to solve for the first timers.</li>
                    <li>Finished puzzle size: 19.25" x 26.5".</li>
                    <li>GREAT FOR GIFTING: Coming in a sturdy box, this jigsaw puzzle is an exceptional gift for kids ages 8 and above.</li>
                </p>
                <br>
                <p>${{ object.price }}</p>

        <br>
        <br>
        <button type="button" onclick="quantity()">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    


    <br>
    <br>
    {% endblock content %}