{% extends "base.html" %}
{% load static %}
{% block content %}

<h2><strong>Thank you for your purchase.</strong> </h2>
<br>
<p>Your order was completed successfully.</p>
<p>An email receipt including the details about your order has been sent to the email address provided.</p> 
<p>Please keep it for your records.</p> 
<p>You can visit the My Account page at any time to check the status of your order or click here to price a copy of your receipt.</p>

<br>

<div>
    <h3 style="display: inline-block; padding: 2em; text-align: center;"  >
        <a href="/" button class="btn btn-primary" type="button">Make Purchase Again</button></a>
        <a href="/" button class="btn btn-primary" type="button">Go back to the homepage</button></a>
    </h3>
</div>

<br>
<br>
<br>

{% endblock content %}